{% import "Macros/form_elements.html.twig" as formElements %}

{% trans_default_domain 'FOSUserBundle' %}

{% extends 'front/layout.html.twig' %}

{% block body %}
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
		{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register login-form'}}) }}
			<p class="title">Inscription</p>

			<div class="error">
        		{{ form_errors(form.email) }}
        	</div>
            {{ form_widget(form.email, {'attr' : {'class' : 'form-control', 'placeholder' : 'form.email' }}) }}
			<i class="fa fa-envelope"></i>

			<div class="error">
        		{{ form_errors(form.username) }}
        	</div>
            {{ form_widget(form.username, {'attr' : {'class' : 'form-control', 'placeholder' : 'form.username' }}) }}
			<i class="fa fa-user"></i>

			<div class="error">
        		{{ form_errors(form.plainPassword.first) }}
        	</div>
            {{ form_widget(form.plainPassword.first, {'attr' : {'class' : 'form-control', 'placeholder' : 'form.plainPassword.first' }}) }}
			<i class="fa fa-lock"></i>

			<div class="error">
        		{{ form_errors(form.plainPassword.second) }}
        	</div>
            {{ form_widget(form.plainPassword.second, {'attr' : {'class' : 'form-control', 'placeholder' : 'form.plainPassword.second' }}) }}
			<i class="fa fa-lock"></i>

			{{formElements.recaptcha(captchaKey)}}

			<button>
              <i class="spinner"></i>
              <span class="state">{{ 'security.register.submit'|trans }}</span>
            </button>
		{{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
