<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}StreetHunt{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/a/css/theme.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=1" />
    </head>

    <body class="fixed-left" cz-shortcut-listen="true">
        <div id="wrapper">
            <div class="topbar">
                <div class="topbar-left">
                    <div class="logo">
                        <h1>
                            <a href="#">
                                <img src="{{ asset('assets/f/img/logo-w.png') }}" alt="logo">
                            </a>
                        </h1>
                    </div>

                    <button class="button-menu-mobile open-left">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="navbar-collapse2">
                            <ul class="nav navbar-nav navbar-left top-navbar">
                                <li>
                                    <a href="{{ url('homepage') }}">
                                        Aller vers le site
                                    </a>
                                </li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right top-navbar">
                                <li class="dropdown topbar-profile">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="rounded-image topbar-profile-image">
                                            <img src="{{ vich_uploader_asset(app.user, 'avatarFile') }}">
                                        </span>
                                        {{ app.user }} <i class="fa fa-caret-down"></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{{ url("fos_user_security_logout") }}" class="md-trigger" data-modal="logout-modal">
                                                <i class="icon-logout-1"></i>Déconnexion
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <div class="clearfix"></div>

                    <div id="sidebar-menu">
                        <ul>
                            <li>
                                <a href="{{ url('admin') }}" class="">
                                    <i class="fa fa-home"></i>
                                    <span>Accueil</span>
                                </a>
                            </li>

                            <li class="has_sub">
                                <a href="javascript:void(0);">
                                    <i class="fa fa-paper-plane"></i>
                                    <span>Projets</span>
                                    <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                                </a>

                                <ul>
                                    <li>
                                        <a href="#" class="">
                                            <i class="fa fa-flask"></i>
                                            <span>Tous les projets</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="">
                                            <i class="fa fa-wrench"></i>
                                            <span>Types</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="">
                                            <i class="fa fa-sitemap"></i>
                                            <span>Catégories</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="{{ url('admin_user_list') }}" class="">
                                    <i class="fa fa-users"></i>
                                    <span>Utilisateurs</span>
                                </a>
                            </li>

                            <li>
                                <a href="{{ url('admin_session_list') }}" class="">
                                    <i class="fa fa-bolt"></i>
                                    <span>Sessions</span>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="content-page">
                <div class="content">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        <footer>StreetHunt © 2016</footer>

        <div class="modal fade dynamic-modal" data-the-modal="">
            <div class="dynamic-modal__loader" data-modal-loader=""><i class="fa fa-spin fa-spinner"></i></div>
            <div class="modal-dialog" data-modal-content=""></div>
        </div>

        {% block javascripts %}{% endblock %}
        <script src="{{ asset('assets/a/js/main.js') }}"></script>
    </body>
</html>
