<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img src="{{ asset('assets/f/img/logo-b.png') }}" alt="Street Hunt" title="Street Hunt">
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('admin') }}" data-toggle="tooltip" title="{{ 'admin.tooltip'|trans }}" data-placement="bottom">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                    </a>
                </li>
            {% endif %}

            {% if app.user %}
                <li>
                    <a href="{{ path('fos_user_profile_edit') }}" data-toggle="tooltip" title="{{ 'account.tooltip'|trans }}" data-placement="bottom">
                        <i class="fa fa-user-secret"></i>
                    </a>
                </li>
            {% endif %}

            <li>
                <a href="#" data-toggle="tooltip" title="{{ 'forum.tooltip'|trans }}" data-placement="bottom">
                    <i class="fa fa-comments"></i>
                </a>
            </li>

            <li>
                <a href="#" data-toggle="tooltip" title="{{ 'help.tooltip'|trans }}" data-placement="bottom">
                    <i class="fa fa-question"></i>
                </a>
            </li>

            {% if app.user %}
                <li>
                    <a href="{{ path('fos_user_security_logout') }}" data-toggle="tooltip" title="{{ 'logout.tooltip'|trans }}" data-placement="bottom">
                        <i class="fa fa-power-off"></i>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('fos_user_security_login') }}" data-toggle="tooltip" title="{{ 'login.tooltip'|trans }}" data-placement="bottom">
                        <i class="fa fa-power-off"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
