<div id="logo">
    <h1 class="image">
        <img src="{{ asset('assets/f/img/logo-b.png') }}" alt="Street Hunt" title="Street Hunt">
    </h1>

    {% if logged %}
        <span class="">
            <img src="{{ vich_uploader_asset(app.user, 'avatarFile') }}" alt="" title="" width="50px">
        </span>

        <h2 id="title">{{app.user.firstName}} {{app.user.lastName}}</h2>
        <p>{{app.user.username}}</p>
    {% else %}
        <h2 id="title">
            <a href="#" data-toggle="modal" data-target="#connectModal">Connexion</a>
        </h2>
    {% endif %}
</div>
