{% trans_default_domain 'FOSUserBundle' %}

{% extends 'front/layout_blank.html.twig' %}

{% block body %}
    <div class="flex-wrapper flex-wrapper--center">
        <div>
            <img src="{{ asset('assets/f/img/logo-b.png') }}" alt="Street Hunt" title="Street Hunt" width="100%" class="logo-register">
        </div>


        <form action="{{ path("fos_user_security_check") }}" method="post" class="login-form login-form--login">
            <p class="title">Connexion</p>

            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required="required" />
            <i class="fa fa-user"></i>

            <input type="password" class="form-control" id="password" name="_password" required="required" />
            <i class="fa fa-key"></i>

            <button>
              <i class="spinner"></i>
              <span class="state">{{ 'security.login.submit'|trans }}</span>
            </button>

            <a href="{{ path("fos_user_registration_register") }}">Pas encore de compte ?</a>
        </form>
    </div>
{% endblock %}
