{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block body %}
	<div class="yellow-content">
		<div class="container container-main">
			<div class="col-xs-12 col-md-6 col-md-offset-3">
				<div class="box marged-top">
					{{ form_start(form, {'method': 'post', 'attr': {'class': 'fos_user_registration_register'}}) }}
						<div class="box__head">
							<h1>
								<div class="text-center">
									Edition
								</div>
							</h1>
						</div>

						<div class="box__content">
							<fieldset>
								{{ form_label(form.avatarFile) }}

								<div class="input-group">
					                <label class="input-group-btn">
					                    <span class="btn btn-primary btn-lg">
					                        Parcourir ...{{ form_widget(form.avatarFile, {'attr' : {'class' : 'hidden'}}) }}
					                    </span>
					                </label>
					                <input type="text" class="form-control" readonly>

					                <div class="error">
				                		{{ form_errors(form.avatarFile) }}
				                	</div>
					            </div>
				            </fieldset>

				            <fieldset>
								{{ form_label(form.sex) }}
								{{ form_widget(form.sex, {'attr' : {'class' : 'form-control'}}) }}
				            </fieldset>

				            <fieldset>
								{{ form_label(form.birthday) }}
								{{ form_widget(form.birthday, {'attr' : {'class' : 'form-control'}}) }}
				            </fieldset>

				            <fieldset>
								{{ form_label(form.phoneNumber) }}
								{{ form_widget(form.phoneNumber, {'attr' : {'class' : 'form-control'}}) }}
				            </fieldset>

				            <fieldset>
								{{ form_label(form.transports) }}
								{{ form_widget(form.transports, {'attr' : {'class' : 'form-control'}}) }}
				            </fieldset>

				            <fieldset>
								{{ form_label(form.pictureFile) }}

								<div class="input-group">
					                <label class="input-group-btn">
					                    <span class="btn btn-primary btn-lg">
					                        Parcourir ...{{ form_widget(form.pictureFile, {'attr' : {'class' : 'hidden'}}) }}
					                    </span>
					                </label>
					                <input type="text" class="form-control" readonly>

					                <div class="error">
				                		{{ form_errors(form.pictureFile) }}
				                	</div>
					            </div>
				            </fieldset>
						</div>

						<div class="box__footer">
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<a href="{{ path('homepage') }}" class="btn btn-default btn-block btn-lg">
					                	{{ 'retour'|trans }}
					                </a>
								</div>

								<div class="col-xs-12 col-md-6">
									<button class="btn btn-primary btn-block btn-lg" type="submit" id="_submit" name="_submit">
					                	{{ 'ok'|trans }}
					                </button>
								</div>
							</div>
						</div>
					</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
