<div class="box">
    <div class="box-content">
    	<div class="text-center">
	        <div class="mini-profil__picture" style="background-image: url('{{ vich_uploader_asset(app.user, 'avatarFile') }}')">

			</div>

			<div class="mini-profil__name">
				{{ app.user.username }}
			</div>

			<div class="mini-profil__level">
				{{ app.user.level }}
			</div>

			<a href="{{ path('fos_user_profile_edit') }}" class="btn btn-xs btn-primary">
				{{ 'edit.profil.btn'|trans }}
			</a>
		</div>
    </div>
</div>
