{% if session %}

<div class="box">
    <h2 class="box-title">
        Ma partie en cours
    </h2>

    <div class="box-content">
        <a href="{{ url('session_show', {'id' : session.id}) }}" class="img-with-title">
            <img src="{{ vich_uploader_asset(session, 'pictureFile') }}" alt="" width="100%"/>

            <span class="session-name img-with-title__title">
                {{session.name}}
            </span>
        </a>

        <ul class="current-session-info">
            <li>
                <div class="title">
                    {{ 'participants'|trans }}
                </div>

                <span class="number">
                    {{ session.sessionUsers|length }}
                </span>
            </li>

            <li>
                <div class="title">
                    {{ 'éliminés'|trans }}
                </div>

                <span class="number">
                    {{ session.sessionUsersKilled|length }}
                </span>
            </li>

            <li>
                <div class="title">
                    {{ 'espions'|trans }}
                </div>

                <span class="number">
                    {{ session.sessionUsersActive|length }}
                </span>
            </li>

            <li>
                <a href="{{ url('session_show', {'id' : session.id}) }}" class="btn btn-default btn-lg btn-block">
                    voir
                </a>
            </li>
        </ul>
    </div>
</div>

{% endif %}
