{% extends 'admin/layout.html.twig' %}

{% block body %}
    <h1>{{ session.name }}</h1>

    <div class="box">
        {% include 'admin/session/form.html.twig' %}
    </div>

    <h2>Participants</h2>

    <div class="text-left marged-bottom">
        <a href="{{ url('admin_session_user_new', {'id' : session.id }) }}" class="btn btn-primary">
            Ajouter un participant
        </a>

        <a href="{{ url('admin_session_generate', {'id' : session.id }) }}" class="btn btn-primary">
            Générer la partie
        </a>
    </div>

	<table class="dynatable table table-striped table-bordered table-hover" data-dynatable>
  		<thead>
    		<tr>
    			<th>ID</th>
    			<th>Username</th>
    			<th>Code</th>
                <th>Cible</th>
                <th>Killed by</th>
      			<th>Etat</th>
      			<th>Actions</th>
    		</tr>
  		</thead>

  		<tbody>
  			{% for sessionUser in session.sessionUsers %}
	  			<tr>
	  				<td>{{ sessionUser.id }}</td>
	  				<td>{{ sessionUser.user }} <br> <i>{{ sessionUser.user.email }}</i></td>
	  				<td>{{ sessionUser.code }}</td>
	  				<td>{{ sessionUser.target }}</td>
                    <td>{{ sessionUser.killedBy }}</td>
                    <td>{{ sessionUser.statusLabel }}</td>
	  				<td>
	  					<a href="{{ url('admin_session_user_edit', {'id' : sessionUser.id }) }}" class="btn btn-xs btn-default">edit</a>
	  					<a href="{{ url('admin_user_edit', {'id' : sessionUser.user.id }) }}" class="btn btn-xs btn-default">voir l'utilisateur</a>
	  				</td>
	  			</tr>
    		{% endfor %}
  		</tbody>
	</table>

{% endblock %}
